/*Samuel Henry 2017*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');
/* = Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
===================================================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    outline: none;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

strong {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
    max-width: 100%;
}

/*Site code by Samuel Henry*/
/*====================================================================================================*/
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    height: 60px;
    background-color: orange;
}

#menu .navLogo {
    position: absolute;
    left: 0;
    width: 250px;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.topMenu div.logo a {
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
    font-weight: 600;
    float: right;
    color: black;
    padding: 18px 18px;
    position: relative;
    left: -27px;
    top: -60px;
}

#menu .navLogo a {
    display: block;
    color: #FFF;
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-weight: 600;
    line-height: 25px;
    padding: 18px 16px 18px 24px;
    box-sizing: content-box;
    font-size: 24px;
}

#menu .topMenu {
    position: relative;
    left: 0;
    height: 100%;
    background-color: #F5F5F5;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.desktopMenu {
    visibility: hidden;
    margin-right: 10%;
    margin-left: 10%;
}

.hamburguer {
    width: 75px;
    height: 60px;
    display: block;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    visibility: visible;
}

.hamburguer:hover {
    -webkit-animation: halfSpin 400ms ease-in-out 0s;
}

/*for mobile mode */
@media screen and (min-width: 900px) {
    .hamburguer {
        display: none;
        visibility: hidden;
    }

    .topMenu div.logo {
        margin-left: 10%;
        float: left;
        /*+placement: 10px 60px;*/
        position: relative;
        left: 10px;
        top: 60px;
    }

    .desktopMenu ul {
        /*margin-right: 18%;*/
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .desktopMenu li {
        display: inline-block;
        visibility: visible;
        padding: 3px;
        font-size: 20px;
        font-weight: 600;
        float: right;
        overflow: hidden;
    }

    .desktopMenu a {
        display: block;
        color: #000000;
        padding: 14px 16px;
        text-decoration: none;
    }

    .desktopMenu li a:hover {
        background-color: #DDD;
    }
}

@media screen and (min-width: 1300px) {
    .desktopMenu {
        margin-right: 18%;
    }

    .topMenu div.logo {
        margin-left: 18%;
        /*margin-right: 10%;*/
    }
}

/*animation*/
@-webkit-keyframes halfSpin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(180deg);
    }
}

.hamburguer span {
    display: block;
    position: absolute;
    height: 4px;
    width: 28px;
    background: #101;
    opacity: 1;
    left: 24px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.hamburguer:hover span {
    background: gray;
}

.hamburguer span:nth-child(1) {
    top: 20px;
}

.hamburguer span:nth-child(2), .hamburguer span:nth-child(3) {
    top: 28px;
}

.hamburguer span:nth-child(4) {
    top: 36px;
}

#canvas {
    position: relative;
    height: 98%;
    padding-top: 0px;
    overflow: hidden;
}

#nav {
    overflow-y: scroll;
    position: absolute;
    left: 0px;
    height: 100%;
    width: 250px;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    padding-top: 20px;
}

#nav a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 14px 34px;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
}

#nav a:hover {
    background-color: #FAECE5;
}

#nav .site-menu {
    position: relative;
    min-height: 100%;
}

#nav .bottom {
    position: absolute;
    bottom: 0;
    padding: 16px 24px;
    font-size: 12px;
    line-height: 1.4;
}

#page {
    background: #FFF;
    overflow-y: scroll;
    position: relative;
    left: 0;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease, z-index 0s 0.5s, -webkit-transform 0.5s ease;
    transition: opacity 0.5s ease, z-index 0s 0.5s, -webkit-transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease, z-index 0s 0.5s;
    transition: opacity 0.5s ease, transform 0.5s ease, z-index 0s 0.5s, -webkit-transform 0.5s ease;
    background-color: rgba(30, 0, 0, 0.4);
}

input#showMenu {
    position: absolute;
    opacity: 0;
}

input#showMenu:checked ~ #menu .topMenu {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}

input#showMenu:checked ~ #menu .hamburguer span:nth-child(1), input#showMenu:checked ~ #menu .hamburguer span:nth-child(4) {
    top: 28px;
    width: 0;
    left: 50%;
}

input#showMenu:checked ~ #menu .hamburguer span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

input#showMenu:checked ~ #menu .hamburguer span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input#showMenu:checked ~ #canvas .mask {
    z-index: 1;
    opacity: 1;
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
    -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
    transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}

input#showMenu:checked ~ #canvas #nav, input#showMenu:checked ~ #menu .navLogo {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

input#showMenu:checked ~ #canvas #page {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}

/*adaptive content*/
.content {
    margin-left: 1%;
    margin-right: 1%;
}

@media screen and (min-width: 900px) {
    .content {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (min-width: 1300px) {
    .content {
        margin-left: 17%;
        margin-right: 17%;
    }
}

/*content css*/
/* Misc Tags */
body {
    padding-top: 40px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

p {
    /*font-size: 19px;*/
    line-height: 40px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    font-size: 2.4vh;
}

li, ul, ol {
    line-height: 20px;
}

strong {
    font-weight: 700;
    font-size: 32px;
    border: 4px solid orange;
    background-color: rgba(255, 255, 255, 0.550);
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 61px;
    min-width: 30%;
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
    /*+placement: 0px 114px;*/
    position: relative;
    left: 0px;
    top: 114px;
    padding-top: 10px;
    padding: 9px;
    /*+border-radius: 4px;*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}

small {
    color: #696969;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
}

a {
    text-decoration: none;
    color: black;
}

h1, h2, h3, h4, h5, h6, p, small, li, ul, ol, strong, pre {
    font-weight: normal;
    margin-top: 0;
    line-height: 28px;
}

/* Headings */
h1 {
    margin: 315px 12px 7px 14px;
    font-size: 50px;
    /*font-size: 5.9vmin;*/
    font-weight: 600;
    line-height: 55px;
    padding: 0px;
}

h2 {
    margin: 20px 0 10px;
    font-size: 38px;
    font-weight: 600;
    line-height: 40px;
}

h3 {
    margin: 24px 0 5px;
    font-size: 30px;
    line-height: 40px;
}

h4 {
    margin: 16px 0 5px;
    font-size: 25px;
    line-height: 40px;
}

img {
    vertical-align: middle;
    width: 100%;
}

.parallax {
    background-image: url("../img/heading.jpg");
    width: 100%;
    height: 300px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    display: inline;
    float: left;
    /*position: relative;*/
}

.img2 {
    background-image: url(../img/dinner.JPG);
    background-position: right center;
}

.card {
    background: #FFF;
    border-radius: 2px;
    display: inline-block;
    padding: 4px;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    margin: 2px 2px 15px 2px;
}

.oneThrid .card {
    width: 49%;
}

.card p {
    min-height: 3em;
    margin: 10px;
}

@media (min-width: 900px) {
    .oneThrid .card {
        width: 100%;
    }

    .card {
        width: 49%;
    }
}

@media (max-width: 600px) {
    .oneThrid .card {
        width: 100%;
    }
}

/*width for articles*/
@media (min-width: 900px) {
    .twoThrids {
        width: 64%;
        display: inline;
        margin-right: 4%;
        float: left;
    }

    .oneThrid {
        width: 31%;
        display: inline;
        float: left;
        margin-right: 1%;
    }
}


@media (min-width: 600px) {
    .card {
        width: 49%;
    }
}

.card-0 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    /*transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);*/
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.icon {
    height: 300px;
    object-fit: cover;
    overflow: hidden;
}

.heading {
    padding-left: 19px;
    border-left: 5px solid orange;
    border-top: 5px solid orange;
    padding-top: 0px;
    border-top-left-radius: 8px;
    margin-right: 8px;
    margin-bottom: 20px;
}

.trending {
    border-right: 6px solid orange;
    border-bottom: 5px solid orange;
    padding-right: 8px;
    margin-right: 5px;
    padding: 0px 7px 6px 0px;
    /*margin: 3px;*/
    border-bottom-right-radius: 7px;
}
.share{
    margin: 10px;
}
.share img {
    width: 45px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

button {
    margin-top: 0px;
    width: 70px;
    height: 26px;
    display: inline-grid;
    -moz-box-shadow: 1px 3px 6px;
    -webkit-box-shadow: 1px 3px 6px;
    box-shadow: 9px 3px 26px -6px;
    background-color: rgba(253, 251, 249, 0.846);
    border: 0px solid black;
    padding: 3px;
    margin: 10px 0 25px 25px;
    /*+border-radius: 0px;*/
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}

button:hover {
    background-color: rgba(253, 225, 173, 0.889);
}
#login {
    padding: 8px;
}
.text {
    padding: 5px 5px 4px 5px;
    margin: 6px;
    width: 90%;
    outline: none;
    /*+border-radius: 0px;*/
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
    border: 0px solid black;
    border-bottom: 3px ridge black;
    text-align: left;
}

.checkbox input {
    margin: 0;
    /*+placement: 3px -18px;*/
    position: relative;
    top: -18px;
}

.form input:focus {
    border: 0px solid orange;
    border-bottom 3px ridge orange;
}

label {
    /*what's even going on her */
    font-size: 2vh;
}

.blur {
    -webkit-filter: grayscale(0) blur(0);
    filter: grayscale(0) blur(0);
    /*-webkit-filter : hue-rotate(180deg);*/
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}

.blur:hover {
    -webkit-filter: grayscale(50%) blur(1px);
    filter: grayscale(50%) blur(1px);
}
/*float and aligns i didn't end up using */
.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}



/*100% grid*/
grid {
    width: 100%;
    position: relative;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 5px;
}

footer {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    position: relative;
    display: inline-block;
    border-bottom: 5px solid orange;
}
/*i ran out of time !!!! :(
    spent too much of it on the nav bar
        I wil come back to this someday

        ====================================

    Thanks for taking time to mark my madness */
