/*Samuel Henry 2017 DXB203*/

body {
    height: 100%;
    background: #fef6eb;
    margin: 0 auto;
    font-family: 'Maven Pro', sans-serif;
    max-width: 1200px;
    word-break: break-all;
    word-break: break-word;
}


/*nav with animated hamburger*/


/*I uses SASS to make this and i am using a SVG for the logo */

.nav-icon {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 22.5px;
    right: 30px;
    display: none;
}

.nav-icon .span {
    height: 6px;
    width: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-icon .span::before, .nav-icon .span::after {
    height: 6px;
    width: 100%;
    background: white;
    position: absolute;
    content: "";
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.nav-icon .span::after {
    top: 20px;
}

.nav-icon .span::before {
    top: -20px;
}

.cross.active .span::after {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cross.active .span::before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cross.active .span {
    background: none;
}


/*animations for loading in */


/*these work without any javascript*/

@keyframes flyUp {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1):
    }
    100% {
        opacity: 1;
    }
}

@keyframes dropDown {
    0% {
        transform: translateY(-80px);
    }
    40% {
        transform: translateY(0px);
    }
    100% {}
}


/*this nav bar is fixed and i love it*/

nav {
    background: rgba(150, 192, 206, 0.9);
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    -webkit-animation: dropDown 1s;
    /* Safari 4+ */
    -moz-animation: dropDown 1s;
    /* Fx 5+ */
    -o-animation: dropDown 1s;
    /* Opera 12+ */
    animation: dropDown 1s;
    /* IE 10+, Fx 29+ */
}

.nav-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
}

.header {
    float: left;
    color: white;
    padding: 20px;
}


/*the logo is a svg that i found online and i am controling the size here*/

.logo {
    padding: 0;
    width: 1.5cm;
    height: 100%;
}

nav a {
    font-weight: bold;
    padding: 20px;
    text-decoration: none;
    color: #525564;
    font-size: 1.5em;
}

nav ul {
    float: right;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
    z-index: 1;
}

nav ul li {
    display: inline-block;
    line-height: 100px;
}

nav ul li a:hover {
    color: #c25b56;
    border-bottom: 8px solid #c25b56;
    -webkit-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
}

@media (max-width: 800px) {
    .header {
        float: none;
    }
    nav ul {
        max-height: 0;
        width: 100%;
    }
    nav ul.show {
        max-height: 20em;
    }
    nav ul li {
        width: 100%;
    }
    nav ul li a {
        border-bottom: 3px solid #c25b56;
    }
    nav ul li:last-child {
        margin-bottom: 30px;
    }
    .nav-icon {
        display: inline;
        cursor: pointer;
    }
}


/*hacky bootstrap alternative*/

.column {
    flex-basis: 100%;
    padding: 15px;
}

@media screen and (min-width: 800px) {
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .column {
        flex: 1;
    }
    ._25 {
        flex: 2.5;
    }
    ._5 {
        flex: 5;
    }
}


/* Article */

article {
    background-color: #ffffff;
    width: 90%;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
    padding-top: 2.7cm;
    margin-bottom: 1cm;
    -webkit-animation: flyUp 1s;
    /* Safari 4+ */
    -moz-animation: flyUp 1s;
    /* Fx 5+ */
    -o-animation: flyUp 1s;
    /* Opera 12+ */
    animation: flyUp 1s;
    /* IE 10+, Fx 29+ */
}

article.short {
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
}

article a:link {
    color: #c25b56;
}


/*centering images */

.mainImage {
    width: 100%;
    max-height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.halfWidth {
    width: 50%;
}

.noBullet {
    list-style-type: none;
}

.marginLeft {
    margin-left: 1em;
}

.listItem {
    width: 31%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
}

@media screen and (max-width: 1100px) {
    .listItem {
        width: 47%;
    }
}

@media screen and (max-width: 705px) {
    .listItem {
        width: 100%;
    }
}

.fixedSizeImg {
    height: 400px;
    width: 100%;
    /*max-width: 50%;*/
}

.removeUnderline {
    text-decoration: none;
}


/*fonts*/

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-bottom: 1cm;
    font-size: 24px;
}

h1 {
    font-weight: bold;
    font-size: 42px;
}

ul, ol {
    margin-left: 1em;
}


/* Footer */

footer {
    background-color: #ffffff;
    width: 90%;
    padding: 5%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
    margin-bottom: 1cm;
}


/*input boxes for comments */

form {
    padding-bottom: 1cm;
}

.input {
    border-color: #525564;
    padding: 11px;
    font-size: 22px;
    text-align: left;
    border-width: 4px;
    border-radius: 3px;
    border-style: solid;
    width: 100%;
    padding: 10px;
}

.input:invalid {
    border: 2px solid red;
}

.input:valid {
    border: 2px solid Green;
}

.button {
    /*margin: 4px;*/
    padding: 12px 24px;
    border-width: 4px;
    border-radius: 3px;
    border-style: solid;
    color: #fff;
    border-color: #525564;
    background: #c25b56;
    padding: 15px;
    width: 100%;
}

.button:hover {
    -webkit-box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.4);
}


/*material card to make the comments stand out*/

.card {
    margin: 1%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.truncate {
    /*width: 250px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
